.app {
    background-color: lightblue;
    text-align: center;
    color: white;
    margin: 0 auto;
    display: block;
    width: 100%;
    padding: 10px;
}

h1, p {
    margin: 0;
    padding: 10px;
}

